@media only screen
  and (orientation: landscape) {
    
    .control-container {
        width: 18.97rem;
    }

    #canvasContainer {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width:  calc(100% - 18.97rem);
    }

    .mobileOnly {
        display:none;
    }
    #runner {
        /* border-bottom-right-radius: 0.7rem; */
        margin-left: -4px;
        width: 60%;
    }
    
    #retry {
        border-right-style: solid;
        border-right-width: 0.1rem;
        border-right-color: #0f1113;
        width: 40%;
    }
}
