@media only screen
  and (orientation: portrait) {
    
    .control-container {
      width: 0px !important;
      position: absolute;
      left: 0px;
      z-index: 99;
    }

    
    #canvasContainer {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width:  100%;
      z-index: 1;
    }

    .desktopOnly {
      display:none;
    }

}
