@media only screen
  and (orientation: portrait) {
    
    .control-container {
      width: 0px !important;
      position: absolute;
      left: 0px;
      z-index: 99;
    }

    
    #canvasContainer {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width:  100%;
      z-index: 1;
    }

    .desktopOnly {
      display:none;
    }

    #runner {
      /* border-bottom-right-radius: 0.7rem; */
      margin-left: -4px;
      width: 40%;
      border-right-style: solid;
      border-right-width: 0.1rem;
      border-right-color: #0f1113;
  }
  
  #retry {
      border-right-style: solid;
      border-right-width: 0.1rem;
      border-right-color: #0f1113;
      width: 30%;
  }

  #closeMobileModal {
    margin-left: -4px;

    width: 30%;
  }

  #canvas {
    height: auto !important;
    width: 100% !important;
  }

  #play-mobile {
    width: 4rem;
    position: absolute;
    right: 0px;
  }

  .mobileFooter {
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    z-index: 1;
    bottom: 5%;
    background-color: #0f1113;
    border-radius: 0.5rem;
  }

  .mobileFooter > button {
    font-size: 26pt;
    width: 4rem;
    margin: 0px;
  }

  .mobileFooter::first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

  }

  
  .mobileFooter::last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

  }


}
