:root {
  --color: #333;
}


/* @media only screen
  and (orientation: landscape) { */
    
    .full-length {
      width: calc( 100% - 1rem );
    }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #242a2c; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #323a3d; 
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    width: 100%;
    height: 100%;
    background-color: #242a2c;
    overflow:hidden;
    padding: 0;
    margin: 0;
}

#download {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width:fit-content
}



#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: #191d1f;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    cursor: pointer;
}

#drawing-tools, #import_export-tools, #template-tools, #setting-tools {
  margin-top: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16pt;
  margin-left: 0.9rem;
}

.link-button {
  display:block;
  text-align: center;
}

.section-content {
  overflow: hidden;
}

button, .link-button {
  text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 18pt;
    cursor: pointer;
    border-style: solid;
    color: #f8f8f8;
    background-color: #0f1113;
    transition: 0.1s;
    border-width: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
}


button:hover, .link-button:hover {
    background-color: #f0f0f0;
    color: #333;
}

button:hover > img {
  filter: invert(1);
}

button:active, .link-button:active {
  color: #f8f8f8;
  background-color: var(--color);

}

button:active > img {
  filter: invert(0);
}



.a {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 16pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 50%;
    background-color: #0f1113;
    color: #f8f8f8;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    text-decoration: none;
    vertical-align: center;
    transition: 0.1s;

}

a:hover {
    background-color: #f0f0f0;
    color: #333;
}

/* The container */
.container {
    margin-top: 1rem;
    margin-left: 1rem;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #2d3436;
    margin-top: 0.25rem;
transition: 0.1s;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    margin-top: 0.25rem;

    background-color: #242a2c;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--color);
    margin-top: 0.25rem;
transition: 0.1s;

  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.control-container {
  overflow:hidden;
    transition: 0.25s;
    color: #f8f8f8;
    background-color: #191d1f;
    overflow-y: hidden;
    height: 100%;
    border-style: solid;
    border-color: #00000000;
    border-left: none;
    border-top: none;
}

.draw-button {
  width: 31.5%;
  margin: 0px;
  margin-top: 0.5rem;
  float:left;
}

.draw-button-active {
  background-color: var(--color);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #2d3436;
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: .2s;
  transition: opacity .2s;
  
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: var(--color);
  cursor: pointer;
  
}

#drawing-content {
  height: 13rem;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(190, 0, 0);
  cursor: pointer;
}


.slidecontainer {
  width: 80%;
    margin: auto;
}

#ms-out, #prob-out {
  margin-left: 8.5rem;
  margin-right: 0.4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#delay, #generation-t {
  font-size: 16pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 0.85rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#gen-out {
  margin-top: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16pt;
  margin-left: 0.9rem;
}

#auto-retry {
  font-size: 16pt;
    margin-left: 3.25rem;
    width: 6rem;
    background-color: #0f1113;
    color: #f8f8f8;
    border: 1px solid #0b0c0e;
}

#auto-retry-text {
  font-size: 16pt;
  margin-left: 0.5rem;
}

/* } */

#drawing-expand {
  
}

.expand {
  cursor: pointer;
  margin-left: 7.5rem;
  width: 1rem;
  /* padding-bottom: 0.5rem; */
  /* border-radius: 0.5rem; */
  /* background-color: #ddc8c800; */
  transition: 0.3s;
}

.expand:hover {
  color: white;
  background-color: rgba(0,0,0,.25);
}

.expand:hover {
  background-color: rgba(0,0,0,.5);

}

.expand > span {
  vertical-align: bottom;
  
}

.side-scroll-container {
  height: calc(100% - 3.6rem);
  overflow-y: scroll;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.openWidth {
  width: 85% !important;
}

.mobileHeader {
  width: 100%;
  height: 3.6rem;
  background-color: #0f1113;
}

/* #modalOpen {
  float:left;
} */

.mobileHeaderText {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 0.5rem;
    color: #f8f8f8;
    font-size: 18pt;
    vertical-align: super;
}